Django==1.6.5
Fabric==1.8.3
South==0.8.4
dj-database-url==0.3.0
django-debug-toolbar==1.2.1
django-tables2==0.15.0
gunicorn==18.0
paramiko==1.12.4
psycopg2==2.5.3
six==1.6.1
sqlparse==0.1.11
virtualenv==1.11.6


